
<h2>Sign up</h2>

<form action="<%= users_url %>" method='POST' >
    <label>username
        <input type="text" name="user[username]"> 
    </label>
    <label> password
        <input type='password' name="user[password]">
    </label>

    <input type='submit' value="submit">
</form>

